
.container table th{
   
    background-color: rgb(179, 66, 25);
   }
.container table tbody{
    background-color: rgb(190, 159, 148);
}
.container{
    background-color:rgb(190, 159, 148);
    margin: 0 40% 0 40%;
    text-align: center;
}
.table-row{
    margin: auto;
}