.h1{
    color: mediumblue;
    font-family: arial blue;
}
img { 
    display: inline-block;
}
.container{
    border: 1px solid black;
    padding: 0;
    width: 47%;
    margin: 0 0 0 450px;
    text-overflow: inherit;
}
.container h1{
    
    font-style: normal;
    font-family: arial blACK;
    text-align: center;
    padding: 0;
    margin: 0;
}
.container td{
    border: 1px solid black;
    padding: 0px;
    margin: 5px;
    background-color: rgb(252, 250, 247);
}
.change{
    background-color: darkorange;
    
}
.container th{
    border: 1px solid black;
    background-color: rgb(252, 250, 247);
}
.table_row{
    margin: auto;
}